@media only screen and (max-width: 768px) {
    footer {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 100%;
        gap: 20px;
        padding-top: 20px;
    }

    footer .contacts {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    footer .contact-item {
        align-items: flex-start;
    }
}
